{% extends "catalog/base.html" %}

{% block content %}
    <div class="container">
        <h2>Вход в систему</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="id_username">Имя пользователя:</label><br>
                {{ form.username }}<br>
                <div class="error">{{ form.username.errors }}</div>
            </div><br>
            <div>
                <label for="id_password">Пароль:</label><br>
                {{ form.password }}<br>
                <div class="error">{{ form.password.errors }}</div>
            </div><br>
            <button type="submit">Войти</button><br>
        </form>
        <div>
            <a href="{% url 'password_reset' %}">Забыли пароль?</a><br>
        </div>
        <div>
            <a href="{% url 'register' %}">Нет аккаунта? Зарегистрируйтесь</a><br>
        </div>
    </div>
{% endblock %}
