{% extends "catalog/base.html" %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
<div class="container">
    <h1>О нашей компании</h1>
    <p>
        Мы - команда профессионалов, которые стремятся предоставить лучшую продукцию и услуги на рынке.
        Наша цель - удовлетворить потребности наших клиентов и превзойти их ожидания.
    </p>

    <h2>Наша миссия</h2>
    <p>
        Мы нацелены на то, чтобы быть лидерами в своей отрасли, предоставляя высококачественные товары и услуги,
        основанные на инновации и устойчивом развитии.
    </p>

    <h2>Наша история</h2>
    <p>
        Наша компания была основана в 2025 году и с тех пор успешно работает, постоянно расширяя ассортимент
        и географию поставок.
    </p>

    <h2>Контакты</h2>
    <p>
        Если у вас есть вопросы, не стесняйтесь связаться с нами по электронной почте:
        <a href="mailto:info@company.com">info@company.com</a> или по телефону:
        <a href="tel:+1234567890">+1 (234) 567-890</a>.
    </p>
</div>
{% endblock %}
